/* add jjupin Masquer bouton modifier ordre cours  et tabs annulalisation */
form#ordre_cours {display:none;}
span.nouveautetdb{font-size: 18px;color:#333;margin-bottom:10px;}

.block_tableau_bord div#tabs {
    float:left;
    /*padding: 10px;*/
	border-radius: 0;
	border: 1px solid rgba(238,238,238,1);	
}

/* --- --- --- */

/* add jjupin 31/01/17 => ajouter une classe CSS si le cours est masqué (le griser) */
div.course_not_visible {
	opacity: 0.5;
}
/* end add jjupin 31/01/17 */


.block_tableau_bord  {
    float: left;
    width : 100% !important;
    padding: 10px;
    vertical-align: middle;
    border-collapse: separate;
    clear: none;
	line-height: normal;
}

div.course_list div[id^=course]{
    float:left;
    width:100%;
	border: 1px solid rgba(238,238,238,1);
}
div.course_list div[id^=course]:hover{
    background : #f7fafa;
}



.block_tableau_bord .content h2.title {
    /* float: left;*/
    margin: 0 0 .5em 0;
    position: relative;
}

.block_tableau_bord .coursechildren {
    font-weight: normal;
    font-style: italic;
}

.block_tableau_bord .content {
    /*margin: 0 20px;*/
}
.block_tableau_bord .content .notice {
    margin: 5px 0;
}

.path-my .coursebox {
    margin: 0.3em !important;
    padding: 0;
}



.block_tableau_bord .coursebox{
    padding: 10px;
    width: auto;
}

/* Pour que le formulaire et le bouton de la grille soient sur la même ligne */
.block_tableau_bord  .bouton{
    display: inline-block;
    text-align: center;
    margin: 2px;
}

.block_tableau_bord  .cours-infos div[id^="region_detaille"], .block_tableau_bord  .cours-infos div[id^="region_notification"]{
    margin-bottom: 5px !important;
}


.block_tableau_bord  .cours-infos div[id^="notif-"]{
    /*margin-bottom: 5px !important;*/
    margin-top: 10px !important;
}

/* Division d'une seule notification */
.block_tableau_bord  .notif{
    float : left;
    margin: 5px 10px 5px 30px;
    padding-left : 5px;
    border-left : 2px solid #ccc ;
}


.block_tableau_bord  .notif:hover{
    background-color: #f0f0f0;
}

.block_tableau_bord  .notif .overview {
    margin : 0 8px 0 0 !important; 
    float : left;
}

.notif  a.boutonSupprimer  {
    float : right;
    width : 20px;
    height : 20px;
    margin: -8px -8px 0 0;
    text-decoration: none;
}


.notif  a.boutonSupprimer div.delete_notif{
    background:  #ccc;
    border: none;
    border-radius: 6px;
    font-weight: 800;
    text-align: center;
    color : white;
}
.notif:hover a.boutonSupprimer div.delete_notif, .notif a.boutonSupprimer div.delete_notif:hover{
    background:  #d72329;
}


.block_tableau_bord  .bouton_aff{
    float: right;
    text-align: center;
    margin: 2px;*
}

.block_tableau_bord  .coursebox .contenu_cours{
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    position : relative;
}



.block_tableau_bord  .coursebox .cours-avancement-global{
    float: left;
    margin: 5px 0 0 4px;
	padding: 0.3em;
}

div.collapsibleregioninner[id^=region_histo]{
    padding-left: 5px !important;
}
div.collapsibleregioninner[id^=region_notification]{
    padding-left: 10px !important;
}
div.collapsibleregioninner[id^=region_detaille]{
    padding-left: 5px !important;
}

/*Canvas pour le graphe d'avancement & prof: */
canvas[id^=affichage], canvas[id^=affichage-autre-cours], canvas[id^=canvasHisto] {
    position : relative !important;

}
canvas[id^=canvasHisto] {
    width : 450px !important;
    height : auto !important;
}

div.cours-infos {
    float: left;
    padding : 20px 5px 5px 10px;
    word-wrap: break-word;
    white-space:normal !important;
    display : block;
    /*max-width: 70% !important;*/

}


.cours-infos  img {
    padding : 0 5px 3px 0;
    backgournd : red;
}

.cours-infos div {
    white-space:normal !important;
}

div.formulaire {
    float : right;
}


input.modifier_ordre_cours, input[title="validerCours"]{
    margin: 2px 0 0 0 !important;
    background: #e5512b !important; 
    color : #fff !important;
    border-radius: 5px !important;
    border : none !important;
	
   
}

input.modifier_ordre_cours:hover, input[title="validerCours"]:hover{
    text-decoration: underline !important;
}

.block_tableau_bord  .canvasDetaille{
    display: inline-block;
    text-align: center;
    margin: 2px;
}

.block_tableau_bord  {
    border: none !important;
    box-shadow : none !important;
}
div.block_tableau_bord div.header{
    background: none !important;
	
}
div.block_tableau_bord div.header H2{
    color : #000 !important;
    font-size : 2em !important;
    text-transform: none !important;
}


/*//////////////////////////////////////////////*/



.menu .welcome_area {
    padding : 0 0 10px 0!important;
}

.menu .welcome_area .profilepicture {
    float: left !important;
    vertical-align: middle;
}
.menu .welcome_area  .welcome_message {
    display: inline;
    padding: 0 !important;
}
.menu .welcome_area  .welcome_message H2.main{
    padding:  0 10px 0 5px !important;
    margin : 0 !important;
    font-size: 20px  !important;
    line-height: normal  !important;
    display: inline !important;
}


.menu .welcome_area  .welcome_message {
    display: inline !important;
    padding: 0 !important;
}

.menu .welcome_title {
    float : left;
}
.menu .welcome_title p{
    margin : 0;
	
    font-size: 27px ;
    line-height: normal;
    padding: 0 5px 4px 0;
    //background : #eee;
    color :  #0088CC;
}
.menu .welcome_title p:before{
    content: ">> ";
}



.block_tableau_bord .course_title {
    position: relative;
}



.cours-titre {
    font-size: 20px;
    font-weight: bold;
    padding-left: 0.4em;
    padding-top: 0px !important;
    padding-bottom : 5px;
    border-bottom:solid 1px #EEE;
	

}
div.cours-titre div img.cursor{
    border : 3px solid #e5512b ;
    height : 18px;
    border-radius : 5px;
    padding : 2px;
    margin-bottom : 2px;

}


div.course-button{
    float: right;
    width: 120px;
    margin: 15px 10px 0px 10px;
    padding: 10px;
    text-align: center;
    background: #0088CC;
    border-radius: 5px;
}
.course-button a {
    color: #fff!important;
    text-transform: uppercase;
    font-weight: bold;
    /* text-decoration: none; */
}

div.link-button{
    margin: 5px 5px 15px 5px;
    text-align: center;
    background: #0088CC;
    border-radius: 5px;
}
.link-button a {
    color: #fff!important;
}

/* Curseur sur l'icone de deplacement de cours */
.editing .block_tableau_bord .coursebox .cursor {
    cursor: move;
    margin-bottom: 2px;
}

/* Positionnement de l'icone de deplacement de cours */
.editing .block_tableau_bord .move {
    float: left;
    padding: 2px 10px 0 0;
}

/* Affichage de l'icone identique lorsque l'on est en mode du choix preferentiel du cours */
.block_tableau_bord .coursebox .cursor {
    cursor: move;
    margin-bottom: 2px;
}



.block_tableau_bord .move {
    float: left;
    padding: 0 10px 0 0;
}



img.iconhelp{
    height: 15px !important;
    padding-left: 3px;
    vertical-align: text-bottom;
    width: 15px !important;
}

/*/////////////////////////////////////////////////////*/


.dir-rtl.editing .block_tableau_bord .move {
    float:right;
    padding: 2px 10px;
	
}

.block_tableau_bord .course_list {
    width: 100%;
    float : left;
}

/*Permet d'afficher les activites en dessous du titre du cours */
.block_tableau_bord div.flush {
    clear: both;
}

.block_tableau_bord .activity_info {
    clear: both;
}
.dir-rtl .block_tableau_bord .activity_info {
    margin-right: 25px;
}

.block_tableau_bord .activity_overview {
    padding: 2px;
}
.block_tableau_bord .activity_overview img.iconlarge { vertical-align: text-bottom; margin-right: 6px; }
.dir-rtl .block_tableau_bord .activity_overview img.iconlarge { margin-left: 6px; margin-right: 0;}

.block_tableau_bord .singleselect {
    text-align: left;
    margin: 0;
}
.dir-rtl .block_tableau_bord .singleselect {
    text-align: right;
}

.block_tableau_bord .content .course_list .movehere{
    margin-bottom: 15px;
}

.block_tableau_bord .hidden{
    display: none;
}

div.block_tableau_bord div div div.block_action{
    display	:	none !important;
}


/* Pour le bouton des notifications */

.course-img{
    float: left;
    height : 30px;
    width : 150px;
	
}


.click-notification{ /* déclencheur de l'affichage des notif*/
cursor : pointer;
}

.notification {
float: left;
min-width: 20px;
width: 20px;
padding:1px; 
margin : 4px 0 0 -30px;
font-weight: 600; 
font-size: 12px;
text-align: center; 
background: #d72329; 
border: 1px solid #FFF; 
border-radius: 4px;
}
.notification  a{
color: #fff !important; 
}


/* Modification du custom.css de l'ead */
/* ----------------------------------- */
.block_course_overview .coursebox.cours-titre { 
/* A la base pas de .block_course_overview .coursebox*/	
/*Changement*/
padding-left : 5px !important;
padding-top : 2px !important;
margin-bottom: 5px !important;
	
}




@media only screen and (max-width : 980px) {
    canvas[id^=canvasHisto] {
        width : 100% !important;
        height : auto !important;
        max-width : 300px !important;
    }

}


