<style>
.container div {
    margin: 4px;
    padding: 4px;
    background-color: rgba(5,5,70,.05);
    transition: all .4s ease-in-out;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

</style>
<script src="{{wroot}}/blocks/tableau_bord/js/dragula.min.js"></script>

<div class="container lstcourse">
    <div class='parent'> <label>Organisez votre liste de cours</label>
            <div id='single1' class='container'>
                {{#std}}      
                    <div id="{{id}}" class='elt'>
                        <i class="icon fa fa-arrows fa-fw" aria-hidden="true" aria-label="" style="cursor:move;"></i>
                        {{fullname}}
                    </div>
                {{/std}}
            </div>
    </div>
</div>

<script>
function etat() {
    var lst=document.getElementsByClassName("elt");
    var lstid = "";
    for (var i = 0; i < lst.length -1; i++) {
        var status = lst[i].getAttribute("id");
        lstid += status + ',';
    }
    // Call store method php.
    var param = [{{userid}}, lstid];
    ajax_update_courseorder(true, param);
};

dragula([single1],{ revertOnSpill: true }).on('drop', function (el) { etat(); });
</script>