<div class="container scores">
    <table border=2 width="75%">
        <tr>
            <th style="text-align:center">{{collevel}}</th>
            <th style="text-align:center;width:15%">{{colbonus3}}</th>
            <th style="text-align:center;width:15%">{{colbonus2}}</th>
            <th style="text-align:center;width:15%">{{colbonus1}}</th>
            <th style="text-align:center;width:15%">{{colnobonus}}</th>
            <th style="text-align:center;width:15%">{{colnoplay}}</th>
        </tr>
        {{#scores}}
            <tr align='center'>
                <td>{{level}}</td>
                <td>{{bonus3}}</td>
                <td>{{bonus2}}</td>
                <td>{{bonus1}}</td>
                <td>{{nobonus}}</td>
                <td>
                {{#noplayer}} <a href="./viewscoreniv.php?courseid={{courseid}}&niv={{level}}">{{/noplayer}}
                {{noplayer}}
                {{#noplayer}}</a>{{/noplayer}}
                </td>
            </tr>
        {{/scores}}
    </table>
    <p style="text-align:right">{{titnbstudent}} : {{nbstudents}}</p>
    
        
    <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <h4 class="card-title">{{titpodium}}</h4>    
                <img src="./pix/coupe.png" class="card-img-top" style="width: 30%"  alt="coupe">
                <div class="card-body">
                    <p class="card-text">
                        <table>
                        {{#thebest}}
                            <tr><td>{{name}}</td><td>{{pts}}</td></tr>
                        {{/thebest}}
                        </table>
                    </p>
                    
                </div>
            </div>
            {{#notall}}
            <div class="card" style="width: 18rem;">
                <center>
                    <h4 class="card-title">{{titparticip}}</h4>
                    <img src="./pix/wanted.png" class="card-img-top" style="width: 30%" alt="want">
                    <div class="card-body">
                        <p class="card-text">
                            {{#tabparticip}}
                            {{namenp}}<br/>
                            {{/tabparticip}}
                        </p>
                    </div>
                </center>
            </div>
            {{/notall}}
    </div>
</div>